    <!--======================================-->
    <!--PROYECTOS-->
    <!--======================================-->
    <br><br>><br>
    <br><br>><br>
    <br><br>><br>
    <div>
        <h2 id="proyectos-texto" class="fw-bold text-center">Proyectos</h2>
        <p id="descripcion-proyectos" class="fs-6 mt-3 pb-3 text-center ">
          Algunos de los proyectos en los que he trabajado implementando diversas tecnologías.
        </p>
      </div>
    
    
      <br><br><br>
      <br><br><br>
      <br><br><br>