/*#container_edu{margin-left: 10rem; margin-right: 5rem;}*/

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -20%;
    padding-left: 20%;
    padding-right: 20%;
}
.image {
    flex: 1;
}

.fa-solid.fa-pencil.fa-2xl{
    cursor: pointer;
}


.fa-solid.fa-trash.fa-2xl{
    margin-left: 10px;
    margin-top: 9px;
}

.fa-solid.fa-trash.fa-2xl:hover{
    
    color: rgba(255, 0, 0, 0.873);
}

#pencil-trash{
    font-size: 13px;
    padding-left: 160px;
    display: flex;
    text-align: center;
}


  