
<div id="contenido">
    <div class="container">
      <div class="image">
        <img src="../../../assets/img/item_extend.png" alt="item_image">
      </div>
      <div class="text">
        <h4>Programador</h4>
        <p>01/03/2018 - En Curso.</p>
        <p>Lic. en Sistemas de la Informacion.</p>
        <p>Cursando actualmente, donde aprendí diversas tecnologías como: C, C++ y MySQL, entre otras.</p>
      </div>
    </div>
    <div id="pencil-trash" *ngIf="isLogged">
      <div routerLink="/educacion/">
        <i class="fa-solid fa-pencil fa-2xl"></i>
      </div>
      <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal" (click)="delete()">
      </i>
  
      <!--
           BOTON CON PREGUNTA SI ESTA SEGURO DE ELIMINAR
        <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal"
        data-bs-target="#modal-clear1er-experiencia" (click)="delete(Experiencia.id)"></i>
        -->
    </div>
  </div>