    <!-- Modal1er Experiencia 
    <div class="modal fade" id="1erexperiencia-modal" tabindex="-1" aria-labelledby="1erexperiencia-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="avatar-modalLabel">1er Experiencia</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                      <input class="form-control form-control-lg mt-3" type="text" placeholder=".Trabajo" aria-label=".form-control-lg example">
                      <input class="form-control mt-3" type="text" placeholder="Fecha de Ingreso" aria-label="default input example">
                      <input class="form-control mt-3" type="text" placeholder="Fecha de Egreso" aria-label="default input example">
                      <input class="form-control form-control-sm mt-3" type="text" placeholder=".Empresa" aria-label=".form-control-sm example">
                      <input class="form-control form-control-sm mt-3" type="text" placeholder=".descripcion" aria-label=".form-control-sm example">
                      </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </form>
            </div>
            
          </div>
        </div>
      </div>
  -->
      <!-- ModalBorrar1erExperiencia 
      <div class="modal" tabindex="-1" id="modal-clear1er-experiencia">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Seguro que deseas borrar esta 1er Experiencia?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Elige una opcion.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
              <button type="button" class="btn btn-primary">SI</button>
            </div>
          </div>
        </div>
      </div>
    -->