<div *ngFor="let Experiencia of expe">
  <div class="container">
    <div class="image">
      <img src="../../../assets/img/item_extend.png" alt="item_image">
    </div>
    <div class="text">
      <h4>{{ Experiencia.nombreE }}</h4>
      <p>{{ Experiencia.iniciO }} - {{ Experiencia.fiN }}</p>
      <p>{{ Experiencia.marcA }}</p>
      <p>{{ Experiencia.descripcionE }}</p>
    </div>
  </div>
  <div id="pencil-trash" *ngIf="isLogged">
    <div routerLink="/editexp/{{Experiencia.id}}">
      <i class="fa-solid fa-pencil fa-2xl"></i>
    </div>
    <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal" (click)="delete(Experiencia.id)">
    </i>

    <!--
         BOTON CON PREGUNTA SI ESTA SEGURO DE ELIMINAR
      <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal"
      data-bs-target="#modal-clear1er-experiencia" (click)="delete(Experiencia.id)"></i>
      -->
  </div>
</div>