
<div id="contenido">
  <div class="container">
    <div class="image">
      <img src="../../../assets/img/item_extend.png" alt="item_image">
    </div>
    <div class="text">
      <h4>Dueño E-Commerce</h4>
      <p>18/11/2019 - 20/06/2021</p>
      <p>Diamond Store</p>
      <p>Estuve a cargo de mi propio e-commerce de videojuegos digitales, donde desempeñe tareas relacionadas a: ventas, atención al cliente, soporte técnico y manejo de redes sociales.</p>
    </div>
  </div>
  <div id="pencil-trash" *ngIf="isLogged">
    <div routerLink="/editexp/">
      <i class="fa-solid fa-pencil fa-2xl"></i>
    </div>
    <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal" (click)="delete()">
    </i>

    <!--
         BOTON CON PREGUNTA SI ESTA SEGURO DE ELIMINAR
      <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal"
      data-bs-target="#modal-clear1er-experiencia" (click)="delete(Experiencia.id)"></i>
      -->
  </div>
</div>
 <!---->
  <!---->
   <!---->