    <!--======================================-->
    <!--Seccion de About-->
    <!--======================================-->
  
    <section id="sobre-mi" class="about">
        <h1 class="text-center">Sobre <span class="text-primary">Mi</span></h1>
      <div class="container text-center">
        <div class="row">
          <div class="col-3">
              
            <app-foto-perfil></app-foto-perfil>
            <app-edit-foto-perfil></app-edit-foto-perfil>
          </div>
    
          <div class="col-6 mt-5 d-flex">
            <h4>Esto es un Ejemploo Mi nombre es Nicolas Pozzer me dedico al mundo de la programacion, tambien me gusta jugar al tenis y hacer todo tipo de deporte.</h4>
            <div id="pencil-trash">
                <app-edit-aboutme></app-edit-aboutme>
                <app-trash-aboutme></app-trash-aboutme>
            </div>
          </div>
          
          
          </div>
          </div>
  
          <app-modal-foto-perfil></app-modal-foto-perfil>
  
        <app-modal-edit-aboutme></app-modal-edit-aboutme>
  
        <app-modal-trash-aboutme></app-modal-trash-aboutme>
        
      </section>