<!-- Modal1er Experiencia -->
<div class="modal fade" id="newskill1-modalLabel" tabindex="-1" aria-labelledby="newskill1-modalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newskill1-modalLabel">1er Expefsfsfriencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombre">Nombre de la empresa</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
          </div>
          <div class="form-group">
            <label for="porcentaje">Descripcion de la empresa</label>
            <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje"
              required>
          </div>
          <button class="btn btn-primary" data-bs-dismiss="modal">
            Agregar
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
