
<div class="row justify-content-between my-4 mx-auto">
  <div class="col-md mb-4" *ngFor="let proyecto of pro">
    <div class="cuadrante" [style.background-image]="'url(' + proyecto.descripcionE + ')'">
      <!--BOTON CON LINK-->
      <!--<button class="hover-hide-playdemo" routerLink="/editexp/{{proyecto.urlDemo}}">-->
          <a href="{{ proyecto.urldemO }}"  target = "_blank">
            <button  class="hover-hide-playdemo">
              Play Demo
            </button>
          </a>
          
      <div class="hover-hide">
        <h4 class="nombreE mx-auto">{{ proyecto.nombreE }}</h4> 
      </div>
    </div>

    <div class="mx-auto mt-4" *ngIf="isLogged" id="pencil-trash">
      <button class="btn btn-light" routerLink="/editproject/{{ proyecto.id }}">
        <i class="bi bi-pencil-fill"></i> EDITAR
      </button>
      <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal" (click)="delete(proyecto.id)"></i>
    </div>
  </div>
</div>








<!--
  BOTON CON PREGUNTA SI ESTA SEGURO DE ELIMINAR
  <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal"
  data-bs-target="#modal-clear1er-experiencia" (click)="delete(Experiencia.id)"></i>
-->


    <!--<p>{{ proyecto.inicio }} - {{ proyecto.fin }}</p>
    <p>{{ proyecto.nivel }}</p>-->






    <!--BACKUP-->
<!-------------------

<div class="container my-4" *ngFor="let proyecto of pro">
  <div class="border-celeste rounded p-3">
    <h4>{{ proyecto.nombreE }}</h4>
    <p>{{ proyecto.descripcionE }}</p>
  </div>
  
  <div class="mx-auto" *ngIf="isLogged" id="pencil-trash">
    <button class="btn btn-light" routerLink="/editproject/{{proyecto.id}}">
      <i class="bi bi-pencil-fill"></i> EDITAR
    </button>
    <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal" (click)="delete(proyecto.id)"></i>
  </div>
</div>

    -->