<div *ngFor="let Proyecto of pro" class="container">
    <div class="image">
      <img src="../../../assets/img/item_extend.png" alt="item_image">
    </div>
    <div class="text">
      <h4>{{ Proyecto.nombreE }}</h4>
      <p><!--{{ exp.inicio }} - {{ exp.fin }}--></p>
      <p><!--{{ exp.nivel }}--></p>
      <p>{{ Proyecto.descripcionE }}</p>
    </div>
    <div id="pencil-trash" class="mx-auto" *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editproject/{{Proyecto.id}}">
        <i class="bi bi-pencil-fill"></i> EDITAR</button>
      <i class="fa-solid fa-trash fa-2xl" type="button"
        data-bs-toggle="modal"
        (click)="delete(Proyecto.id)">
      </i>
  
      <!--
           BOTON CON PREGUNTA SI ESTA SEGURO DE ELIMINAR
        <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal"
        data-bs-target="#modal-clear1er-experiencia" (click)="delete(Experiencia.id)"></i>
        -->
    </div>
  </div>