<!--======================================-->
<!--Seccion de About-->
<!--======================================-->
<h1 id="sobre-mi">Sobre <span class="text-primary">Mi</span></h1>


<div class="container">
  <div class="row">

    <div class="col mt-5"> <!--=====COLUMNA 1======-->
      <div id="col-imagen">
      <img src="https://i.imgur.com/gfiqPDt.png" class="rounded-circle">
         
      <div class="rounded-circle" >
        <div id="edit-boton" *ngIf="isLogged">
      <app-button-edit-aboutme></app-button-edit-aboutme>
    </div>
    </div>
    </div>

    </div>

    <div id="col-derecha" class="col mt-5"> <!--=====COLUMNA 2======-->

      <div id="descrip">
      <p >¡Hola! Soy Nicolas, un apasionado por la tecnología y el Trading. Apunto a crecer profesionalmente como Desarrollador Web Fullstack. Busco estar en constante formación y llevar lo aprendido a la práctica, soy responsable, empático, dedicado y curioso.</p>
      <div id="pencil" *ngIf="isLogged">
        <app-button-edit-aboutme></app-button-edit-aboutme>
      </div>
      <div id="pencil-trash">
        <a href="../../../assets/pdf/mi-cv.pdf" download="CV"><button class="boton-descargar-cv">
            Descargar CV
          </button></a>
        <!--<app-trash-aboutme></app-trash-aboutme>-->
      </div>
    </div>
    </div>
  </div>
</div>