<!--======================================-->
<!--Seccion de About-->
<!--======================================-->
<h1 id="sobre-mi">Sobre <span class="text-primary">Mi</span></h1>


<div class="container">
  <div class="row">

    <div class="col mt-5"> <!--=====COLUMNA 1======-->
      <div id="col-imagen">
      <img [src]="persona.img" class="rounded-circle">
         
      <div class="rounded-circle" >
        <div id="edit-boton" *ngIf="isLogged">
      <app-button-edit-aboutme></app-button-edit-aboutme>
    </div>
    </div>
    </div>

    </div>

    <div id="col-derecha" class="col mt-5"> <!--=====COLUMNA 2======-->

      <div id="descrip">
      <p >{{ persona.sobremi }}</p>
      <div id="pencil" *ngIf="isLogged">
        <app-button-edit-aboutme></app-button-edit-aboutme>
      </div>
      <div id="pencil-trash">
        <a href="../../../assets/pdf/mi-cv.pdf" download="CV"><button class="boton-descargar-cv">
            Descargar CV
          </button></a>
        <!--<app-trash-aboutme></app-trash-aboutme>-->
      </div>
    </div>
    </div>
  </div>
</div>