#expyedu_container{
    margin-top: 10rem;
    margin-left: 5rem;
}
#titulo-educacion{
    margin-left: 1rem;
}
#titulo-experiencia{
    margin-left: 1rem;
}

.button{
    margin-top: 4rem;
    font-size: 18px;
}

.button:hover{
    color: rgba(5, 180, 255, 0.601);
    transition: color 0.5s ease;
}

.p-3{
    
    margin-left: 100px;
}

.padexp{
    padding-left: 5.5%;
    padding-right: 10%;
    margin-right: -20%;
    
}