
<!--======================================-->
<!--Item Exp Edu-->
<!--======================================-->

<div class="container">
  <div class="row">

    <div class="col mt-5"> <!--=====COLUMNA 1======-->

      <div class="p-3">
        <h2 id="titulo-experiencia" class="text-primary text-center">
          Experiencia Laboral
          <div *ngIf="isLogged">
            <button class="buttonn" *ngIf="isLogged">
              <i type="button" data-bs-toggle="modal"
                data-bs-target="#newexperiencia-modalLabel">
                Nueva Experiencia
              </i>
            </button>
          </div>
        </h2>
        <div class="padexp"><app-experiencia></app-experiencia></div>
      </div>


    </div>

    <div id="col-derecha" class="col mt-5"> <!--=====COLUMNA 2======-->

      
      <div class="p-3">
        <h2 id="titulo-educacion" class="text-primary text-center">
          Educacion
          <div *ngIf="isLogged">
            <button class="button" *ngIf="isLogged">
              <i type="button" data-bs-toggle="modal"
                data-bs-target="#neweducacion-modalLabel">
                Nueva Educacion
              </i>
            </button>
          </div>
        </h2>
        <app-educacion></app-educacion>
      </div>

    </div>
  </div>
</div>


<app-new-experiencia></app-new-experiencia>
<app-new-educacion></app-new-educacion>