<div class="container overflow-hidden">
  <div class="row gy-5 mx-auto" id="expyedu_container">
    <div class="col-6">

      <div class="p-3">
        <h2 id="titulo-experiencia" class="text-primary">
          Experiencia Laboral
          <div *ngIf="isLogged">
            <button class="button" *ngIf="isLogged">
              <i type="button" data-bs-toggle="modal"
                data-bs-target="#newexperiencia-modalLabel">
                Nueva Experiencia
              </i>
            </button>
          </div>
        </h2>
        <app-experiencia></app-experiencia>
      </div>
    </div>
    <div class="col-6">

      <div class="p-3">
        <h2 id="titulo-educacion" class="text-primary">
          Educacion
          <div *ngIf="isLogged">
            <button class="button" *ngIf="isLogged">
              <i type="button" data-bs-toggle="modal"
                data-bs-target="#neweducacion-modalLabel">
                Nueva Educacion
              </i>
            </button>
          </div>
        </h2>
        <app-educacion></app-educacion>
      </div>
    </div>
  </div>
</div>

<app-new-experiencia></app-new-experiencia>
<app-new-educacion></app-new-educacion>