<div class="container overflow-hidden">
  <div class="row gy-5" id="expyedu_container">
    <div class="col-6">

      <div class="p-3">
        <h2 id="titulo-experiencia" class="text-primary">
          Experiencia Laboral
          <div class="mx-auto" *ngIf="isLogged">
            <i class="fa-solid fa-circle-plus" type="button" data-bs-toggle="modal"
              data-bs-target="#newexperiencia-modalLabel"></i>
          </div>
        </h2>
        <app-experiencia></app-experiencia>
      </div>
    </div>
    <div class="col-6">

      <div class="p-3">
        <h2 id="titulo-educacion" class="text-primary">
          Educacion
        </h2>
        <app-educacion></app-educacion>
      </div>
    </div>
  </div>
</div>