
#pencill-trash{
    margin-top: 10px;
    padding-left: 20rem;
    margin-bottom: 1rem;
    font-size: 11px;
    margin-left: 20rem;
}

.fa-solid.fa-pencil.fa-2xl{
    margin-right: 7px;
}

#trashhh:hover{
    color: rgba(255, 0, 0, 0.873);
}

.text-center{
    position: absolute;
    padding-left: 200px;
    font-size: 13px;
    color: black;
    margin-top: -1px;
}