<div *ngFor="let Skill1front of skill1">
    <h5>{{ Skill1front.nombre }}</h5>
   <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-warning" style.width ="{{ Skill1front.porcentaje }}%">
        {{ Skill1front.porcentaje }}%
      </div>

    <br>
  </div>
  
  <!--BOTONES EDITAR/BORRAR-->
  <div id="pencill-trash" class="mx-auto" *ngIf="isLogged">
    
    <i class="fa-solid fa-pencil fa-2xl" 
      routerLink="/editskill1/{{Skill1front.id}}" 
      type="button">
    </i>

    <i id="trashhh" class="fa-solid fa-trash fa-2xl"
      data-bs-toggle="modal"
      (click)="delete(Skill1front.id)">
    </i>

</div>

