/*==========================*/
/*Skills HABILIDADES*/
/*==========================*/

#habilidades-texto{
    margin-top: 10rem;
}

#descripcion-habilidades{
    margin-right: 35%;
    margin-left: 35%;
}


.fa-solid.fa-circle-plus{
    font-size: 28px;
    color: rgba(0, 255, 140, 0.717);
}

.fa-solid.fa-circle-plus:hover{

    color: rgba(0, 255, 132, 0.266);
}


.container{
    margin-bottom: 14%;
}