 <!--======================================-->
    <!--HABILIDADES-->
    <!--======================================-->
  
    <div>
        <h2 id="habilidades-texto" class="fw-bold text-center">Habilidades</h2>
        <p id="descripcion-habilidades" class="fs-6 mt-3 pb-3 text-center ">
          Estas son algunas de mis habilidades, tanto técnicas como blandas, con las que cuento para el ámbito profesional.
        </p>
    </div>
    
    <div class="container text-center">
        <div class="row">
    
          <div class="col mt-5">  <!--=====COLUMNA 1======-->
            <h3>Front-End</h3>
            <br>
    
            <app-skill1></app-skill1>
          </div>
          
        
          <div class="col mt-5">  <!--=====COLUMNA 2======-->
            
            <h3>Back-End</h3>
            <br>
    
            <app-skill2></app-skill2>

          </div>
    
    
          <div class="col mt-5"> <!--=====COLUMNA 3======-->
            <h3>Soft-Skills</h3>
            <br>

            <app-skill3></app-skill3>
          </div>
    </div>
</div>

                
    
    
