/*==========================*/
/*Skills HABILIDADES*/
/*==========================*/

#habilidades-texto{
    margin-top: 10rem;
}

#descripcion-habilidades{
    margin-right: 35%;
    margin-left: 35%;
}