<app-navbar></app-navbar>
<div class="container" *ngIf="project && isLogged">
  <div class="row">
      <div>
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
              <div class="form-group">
                  <label for="nombreE">Nombre de la empresa</label>
                  <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="project.nombreE" required>
              </div>
              <div class="form-group">
                  <label for="descripcionE">Descripcion de la tarea</label>
                  <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="project.descripcionE" required>
              </div>
              <button class="btn btn-primary">
                  Actualizar
              </button>
          </form>
      </div>
  </div>
</div>


<!-----MENSAJE NO LOGEADO!!----->
<div class="text-center pt-5" *ngIf="!isLogged">
    <h1 >
      NO ESTAS LOGEADO
    </h1>
    <h3>
      Inicia sesion para editar este campo
    </h3>
  </div>
  <!------------------------------>