<!--======================================-->
<!--PROYECTOS-->
<!--======================================-->
<br><br>><br>
<br><br>><br>
<br><br>><br>
<div>
  <h2 id="proyectos-texto" class="fw-bold text-center">Proyectos</h2>
  <p id="descripcion-proyectos" class="fs-6 mt-3 pb-3 text-center ">
    Algunos de los proyectos en los que he trabajado implementando diversas tecnologías.
  </p>
</div>


<br><br><br>


<div class="mx-auto" *ngIf="isLogged">
  <i class="fa-solid fa-circle-plus" type="button" data-bs-toggle="modal" data-bs-target="#newproyecto-modalLabel"></i>
</div>

<app-proyecto></app-proyecto>
<app-new-proyecto></app-new-proyecto>