 /* Aplica el efecto a todos los elementos con la clase "hover-effect" */
 .border-celeste {
   position: relative;
   display: inline-block;
 }

 /* Agrega un borde sólido al elemento */
 .border-celeste::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   border: 2px solid transparent;
 }

 /* Cambia el color del borde al pasar el mouse por encima del elemento */
 .border-celeste::before {
   border-image: linear-gradient(to bottom, #f4f4f4, #f4f4f4 25%, #f4f4f4 75%, #f4f4f4);
   border-image-slice: 1;
   pointer-events: none;
 }


 .button:hover {
   color: rgba(5, 180, 255, 0.601);
   transition: color 0.5s ease;
 }


 .container-fluid {

   margin-bottom: 4%;

 }

 /*GITHUB*/

 .fa-brands.fa-github.fa-2xl{
  color: black;
  padding: 4%;
  font-size: 120%;
 }

.fa-brands.fa-github.fa-2xl:hover{
  color:#d1d1d1;
  cursor: pointer;
}